version: "3.8"

services:
  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin_render
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    volumes:
      - ./pgadmin_servers.json:/pgadmin4/servers.json
